<!-- ========================== Header ========================== -->
<header>
    <div class="row">
        <div class="offset_1 column_4">
            <a href="http://lungo.tapquo.com" class="logo block"></a>
        </div>
        <nav class="column_6 align right">
            <a href="#" data-tuktuk-modal="modal" class="button success small">Registrarse</a>
            <a href="#" data-tuktuk-modal="modal-right" class="button success small">Ingresar</a>
            <a href="https://www.facebook.com/pages/Bankze/231741937002767" target="_blank" class="icon facebook"></a>
            <a href="http://twitter.com/bankzeapp" target="_blank" class="icon twitter"></a>
        </nav>
    </div>
</header>

<!-- ========================== Device ========================== -->
<section class="front">
    <div class="row">
        <div class="offset_4 column_4 phone">
            <iframe src="http://lungo.tapquo.com/example/index.html"></iframe>
        </div>
    </div>
</section>

<!-- ========================== Features ========================== -->
<section class="padding">
    <div class="row">
        <div class="offset_1 column_10 text align center">
            <h1> <strong class="color theme">Bankze</strong> es una app móvil que te ahorra  <strong class="color theme">tiempo</strong> cuando necesites hacer transacciones en los bancos ademas de cuidar tu  <strong class="color theme">salud financiera</strong>. Descarga ya!!!</h1>
        </div>
    </div>
    <div class="row ">
        <div class="offset_1 column_5 feature">
            <div class="icon time"></div>
            <h4>Tiempo</h4>
            <small>Ahorra tiempo cuando tengas que ir a hacer transacciones al banco con información real proveida por sus usuarios.</small>
        </div>

        <div class="column_5 feature">
            <div class="icon user-md"></div>
            <h4>Finanzas</h4>
            <small>
                Bankze es tu mejor amigo y te hara preguntas que le permitiran darte consejos sobre tu salud financiera.
            </small>
        </div>
    </div>
    <div class="row">
        <div class="offset_1 column_5 feature">
            <div class="icon group"></div>
            <h4>Comunidad</h4>
            <small>La maravillosa exactitud de nuestros datos es gracias a la colaboración de nuestros usuarios, los cuales actualizan en todo momento la información de las sucursales bancarias.</small>
        </div>

        <div class="column_5 feature">
            <div class="icon money"></div>
            <h4>Invierte</h4>
            <small>
                Realiza tus objetivos de ahorro y obten las mejores oportunidades de inversión y productos.
            </small>
        </div>
    </div>
</section>
<div id="modal" data-tuktuk="modal" class="column_5"></div>
<div id="modal-right" data-tuktuk="modal" class="side column_5"></div>
<!-- ========================== Downloads ========================== -->
<section id="#download" class="padding bck dark text center">
    <div class="row">
        <div class="offset_2 column_8">
            <a href="#" class="button anchor download"><span class="icon download"></span>Download</a>
            <h3>Available for iOS</h3>
        </div>
    </div>
</section>

<!-- ========================== Authors ========================== -->
<section class="padding bck darkest text center color white" data-role="authors">
    <div class="row margin-bottom">
        <div class="column_8 offset_2 ">
            <h2 class="text thin color theme">Equipo</h2>
            <h3 class="text thin">Think out of the Bank.</h3>
         </div>
    </div>
    <div class="row">
        <div class="offset_2 column_3 text center white">
            <%=image_tag "carlos.png" ,:class=>"responsive rounded margin-bottom"%>
            <a href="https://twitter.com/carlosrojas_o" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @carlosrojas_o</a>
           
        </div>

         <div class="column_3 text left white">
            <%= image_tag "john.png" ,:class=>"responsive rounded margin-bottom"%>
            <a href="https://twitter.com/Jhon_ECG" class="twitter-follow-button " data-show-count="true" data-dnt="true">Follow @Jhon_ECG</a>
           
           </div>

         <div class="column_3 text right white">
            <%=image_tag "john2.png" ,:class=>"responsive rounded margin-bottom"%>
            <a href="https://twitter.com/AlexTorresGamer" class="twitter-follow-button " data-show-count="true" data-dnt="true">Follow @AlexTorresGamer</a>
            
           </div>
        </div>
    </section>

    <footer class="bck dark padding text color white">
        <div class="row">
            <div class="offset_1 column_4">
                <p class="text normal">Handcrafted with <a href="http://tuktuk.tapquo.com">tuktuk</a> by <a href="http://tapquo.com" class="display inline">Bankze Team</a></p>
                <small class="text thin">Made with Love <span class="icon heart"></span></small>
            </div>
            <div class="column_6 text right">
    
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.bankze.co" data-text="La app que te ahorra tiempo y cuida tu salud financiera." data-lang="es" data-related="bankzeapp" data-dnt="true" data-count="horizontal">Twittear</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <div class="fb-like" data-href="http://www.bankze.co" data-send="false" data-layout="button_count" data-show-faces="false"></div>
                </ul>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="components/tuktuk/tuktuk.js"></script>
    <script>
        var header = $("body > header");
        $(window).scroll(function(event) {
            height = $(event.target).scrollTop();
            if (height > 80 && height < 720) {
                header.addClass("fixed").removeClass("opacity");
            } else if (height > 720) {
                header.addClass("fixed opacity");
            } else {
                header.removeClass("fixed opacity");
            }
        });
    </script>
   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5126579-21', 'bankze.co');
      ga('send', 'pageview');

    </script>
